<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="4fingerhand">
  <xacro:include filename="finger1.urdf.xacro"/>
  <xacro:include filename="finger_ghost.urdf.xacro"/>
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="palm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="robot_meshes/visual/palm_vis.obj"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="palm_collision_0">
      <geometry>
        <mesh filename="meshes/hand_f1_00_f2_70_f3_440_f4_f5_palm_part0.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_to_palm" type="fixed">
    <parent link="base_link"/>
    <child link="palm"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:finger1 prefix="f1_" parent="palm">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:finger1>

    <xacro:finger1 prefix="f2_" parent="palm">
    <origin xyz="0.007864 -0.005870 0.000640" rpy="0 0 -1.635637547063"/>
    </xacro:finger1>

    <xacro:finger1 prefix="f3_" parent="palm">
    <origin xyz="-0.005349 -0.005679 0.000640" rpy="0 0 3.113781730577"/>
    </xacro:finger1>

    <xacro:finger1 prefix="f4_" parent="palm">
    <origin xyz="-0.001870 0.000045 0.000640" rpy="0 0 1.598367033811"/>
    </xacro:finger1>

    <xacro:finger_ghost prefix="f5_" parent="palm">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:finger_ghost>

</robot>
